.messages {
  clear:both;
  padding:20px;
}
.x:after,
.o:after {
  display: block;
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
}

.x:after {
  content: "x";
}

.o:after {
  content: "o";
}


.centered {
  text-align: center;
}

cell.over { 
  
}
div#ttt-board{
  width: 330px;
  margin:0 auto;
}

.row {
  float: left;
}
.cell{
  float: left;
  width: 90px;
  height: 90px;
  background: red;
  line-height: 100px;
  text-align: center;
  color: black;
  margin:10px;
}

.x .won { 
  background-color: blue;
  content: 'x';
}
.o .won{
  background-color: green;
}

